@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Moonrocks&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,500&family=Nunito&family=Rubik+Doodle+Shadow&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1e2326;
}

.contendedor-header {
    background-color: #0C1C27;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    font-size: 24px;
}

.contendedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contendedor-header header .logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    color: #1c7eb6;
    text-decoration: none;
}

.contendedor-header header ul {
    display: flex;
    list-style: none;
}

.contendedor-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    font-size: 20px;
}

.nav-responsive {
    background-color: #1c7eb6;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .contendedor-header header {
        flex-direction: column;
        align-items: flex-start;
    }

    .contendedor-header header ul {
        margin-top: 15px;
    }

    .contendedor-header header nav ul li {
        margin-bottom: 10px;
    }

    .nav-responsive {
        margin-top: 10px;
    }
}


/* Inici Seccio 1 */

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: calc(100vh - 70px);
    padding-top: 30px;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;

}

#inicio {
    background-color: white;
}

.avatar {
    background: transparent;
    background-size: cover;
    margin-left: 30%;
    height: 500px;
    max-width: 60%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* Reglas de medios para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
    .avatar {
        margin-left: -53%;
        max-width: 100%; 
        height: 153px; 
        margin-top: 27em;
    }
}


#inicio h1.benv {
    color: black;
    font-size: 90px;
    margin-top: -200px;
    padding: auto;
    margin-left: 20%;
}

#inicio .nom-cognom {
    color: black;
    font-size: 50px;
    margin-left: 20%;
    text-decoration: none;
}

#inicio .nom-cognom .apellido {
    color: #208be0;
    font-family: 'Varela Round', sans-serif;
    font-size: 70px;
}

.dev-imgs {
    margin-left: 70%;
    margin-bottom: -29%;
    height: 148px;
}

/* Reglas de medios para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
    #inicio h1.benv {
        font-size: 37px;
        margin-top: -150px;
        margin-left: 10%;
    }

    #inicio .nom-cognom {
        font-size: 30px;
        margin-left: 10%;
    }

    #inicio .nom-cognom .apellido {
        font-size: 50px;
    }

    .dev-imgs {
        margin-left: 3%;
        margin-bottom: -130%;
        height: 123px;
    }

    .uno button {
        margin-left: 10%;
        margin-top: 1px;
    }
}



.uno button {
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    margin-left: 13%;
    margin-top: 86px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.uno button:hover {
    transform: scale(1.2);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3); 
}




/* Inici Seccion 2 "SOBRE MI" */

#sobremi {
    background-color: white;
    text-align: center;
    padding: 50px 20px;
}

.logo-estudiante {
    width: 350px;
    height: auto;
    margin-top: -150px;
    margin-left: 200px;
}

.dos h1 {
    color: #510E7A;
    font-size: 75px;
    margin-left: 25px;
    padding-top: auto;
    font-family: 'Press Start 2P', cursive;
}

.contenedor-sobremi {
    margin-top: 100px;
    background: transparent;
    border-radius: 15px;
    margin-left: -150px;
    text-align: left;
}

.contenedor-sobremi p {
    color: #1A0427;
    font-size: 29px;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .logo-estudiante {
        width: 50%; 
        margin-top: 20px; 
        margin-left: 0;
    }

    .dos h1 {
        font-size: 36px;
        margin-top: 20px;
        margin-left: 0;
    }

    .contenedor-sobremi {
        margin-top: 20px;
        margin-left: 0;
        text-align: center; 
    }

    .contenedor-sobremi p {
        font-size: 18px;
    }
}

/* Final Seccion 2 "SOBRE MI" */


/* Inici Seccio Skill - Habilitats */

#Skills {
    background-color: white;
}


#Skills {
    text-align: left;
    display: flex;
    height: 100vh;
    align-items: center;
}

.tres h1 {
    font-size: 100px;
    margin-left: -70%;
    margin-top: -20%;
    font-family: 'Exo 2', 'Nunito', 'Rubik Doodle Shadow', sans-serif;
    color:  #ab4ec2;
    text-shadow: 4px 4px 4px#4d0360;
}

#menu-hab {
    font-size: 30px;
    margin-left: -70%;
    margin-top: 15%;
    font-weight: bolder;

}

/* Iconos Skills */

.iconos-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 104%;
    margin-top: 6%;
}

.icon-csharp {
    height: 7.6em;
    margin: 10px;
    transition: color 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.icon-csharp:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

.fa-python {
    font-size: 8em;
    color: black;
    transition: color 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    margin: 10px; 
}

.fa-python:hover {
    color: rgb(0, 106, 255);
    transform: scale(1.1);
}

.fa-css3-alt {
    font-size: 8em;
    color: black;
    transition: color 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    margin: 10px;
}

.fa-css3-alt:hover {
    color: #510E7A;
    transform: scale(1.1);
}

.fa-html5 {
    font-size: 8em;
    color: black;
    transition: color 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    margin: 10px;
}

.fa-html5:hover {
    color: rgb(201, 136, 14);
    transform: scale(1.1);
}

.skills-h2 {
    font-size: 50px;
    margin-left: 80%;
    margin-top: -75%;
    font-family: 'Exo 2', 'Nunito', 'Rubik Doodle Shadow', sans-serif;
}

@media only screen and (max-width: 768px) {
    .tres h1 {
        font-size: 50px;
        margin-left: 4px;
        margin-top: 0px;
    }

    #menu-hab {
        font-size: 20px;
        margin-top: 10px;
        margin-left: calc(50% - 150px);
    }

    .fa-python,
    .fa-css3-alt,
    .fa-html5 {
        font-size: 4em;
    }

    .skills-h2 {
        font-size: 30px;
        margin-top: 52px;
        margin-left: auto;
    }

    .icon-csharp {
        height: 4em;
    }

    .iconos-cont {
        margin-left: auto;
    }
}


/* Final iconos Skills */


/* Inici Seccio Experencia Laboral */
#experiencia-lab {
    background-color: white;
    padding: 20px;
}

#experiencia-lab h1 {
    color: black;
    font-size: 3rem;
    font-family: 'Exo 2', 'Nunito', 'Rubik Doodle Shadow', sans-serif;
    text-align: center;
    margin-bottom: 2em;
}

.exp-far,
.exp-camb {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    max-width: 80%;
}

.exp-far h2,
.exp-camb h2 {
    font-size: 2rem; 
    font-weight: bolder;
    color: rgb(0, 75, 77);
    margin-top: 20px;
}

.exp-far p,
.exp-camb p {
    font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
    #experiencia-lab h1 {
        font-size: 2rem;
        margin-bottom: 1em;
    }

    .exp-far,
    .exp-camb {
        margin-bottom: 20px;
    }

    .exp-far h2,
    .exp-camb h2 {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    .exp-far p,
    .exp-camb p {
        font-size: 1rem;
        margin-top: 5px;
    }
}



/* Inici SECCIO 4 */

#contacte {
    background-color: #f7f7f7;
    text-align: center;
    padding: 80px 0;
}

.quatre {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.quatre h1 {
    font-size: 2.5rem;
    margin-top: -30px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.2rem;
    margin-top: 20px;
    color: #555;
}

input,
textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
}

button {
    background-color: #510E7A;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #9111e0;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}


/* Footer */

footer {
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 24px;
}

.social-icons i {
    transition: color 0.3s ease;
}

.social-icons a:hover i {
    color: #55acee; /* Color de resaltado para Twitter (puedes cambiarlo según tus preferencias) */
}

.copyright {
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    footer {
        padding: 10px 0; /* Ajusta el espaciado superior e inferior del footer */
    }

    .social-icons {
        flex-direction: row; /* Muestra los iconos en horizontal */
    }

    .social-icons a {
        margin: 0 10px; /* Ajusta el margen entre los iconos */
    }
}


